@keyframes slideToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100) scale(1.8);
        rotate: 45deg;
    }

    100% {
        transform: translateX(200px);
    }
}

.box-1 {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    animation-name: slideToRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
}

.scaleUp {
    animation: scaleUp 3s infinite;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: red;
    animation: scaleUp 2s;
}

@keyframes scaleUp {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200px);
    }
}

