/*
body {
    background-color: green;
    color: white;
}

#malzemeler {
    color: rgb(42, 79, 228);
}

.oneriler {
    color: rgb(249, 144, 249)
}

a[href^="#"] {
    color: gold;
}

*/

body {
    background-color: rgb(248, 221, 168);
    color: black;
}

main {
    font-size: 2rem;
}


p {
    color: #2e833f;
}

header {
    width: 50%;
}

h1 {
    border: 3px solid red;
    width: 50vw;
    height: 20vh;
}


